.modal.fade#register-form(tabindex="-1" role="dialog" aria-labelledby="register-form" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-body
        |<script src="https://cdn02.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
        |<script src="https://cdn03.jotfor.ms/static/jotform.forms.js?3.3.27439" type="text/javascript"></script>
        |<script type="text/javascript">	JotForm.newDefaultTheme = false; JotForm.extendsNewTheme = true; JotForm.newPaymentUIForNewCreatedForms = true; JotForm.newPaymentUI = true; JotForm.clearFieldOnHide="disable"; JotForm.submitError="jumpToFirstError"; JotForm.init(function(){ /*INIT-START*/
        |if (window.JotForm &&
        |  JotForm.accessible) $('input_6').setAttribute('tabindex',0); JotForm.alterTexts({"ageVerificationError":"Vous devez avoir plus de {Ageminimum} ans pour envoyer ce formulaire.","alphabetic":"Ce champ ne peut contenir que des lettres","alphanumeric":"Ce champ ne peut contenir que des lettres et des chiffres.","appointmentSelected":"Vous avez sélectionné {time} le {date}","ccDonationMinLimitError":"Le montant minimum est de {minAmount} {currency}","ccInvalidCVC":"Le numéro CVC est invalide.","ccInvalidExpireDate":"La date d&amp;#039;expiration est invalide.","ccInvalidNumber":"Le numéro de la carte bancaire est invalide.","ccMissingDetails":"Please fill up the credit card details.","ccMissingDonation":"Veuillez saisir des valeurs numériques pour le montant des dons.","ccMissingProduct":"Veuillez sélectionner au moins un produit.","characterLimitError":"Trop de caractères. La limite est de","characterMinLimitError":"Nombre de caractères insuffisant. Le nombre minimum est de","confirmClearForm":"Êtes-vous certain de vouloir supprimer les inscriptions de ce formulaire ?","confirmEmail":"L&amp;#039;adresse e-mail ne correspond pas","currency":"Ce champ ne peut contenir que des valeurs monétaires.","cyrillic":"Ce champ ne peut contenir que des caractères cyrilliques","dateInvalid":"Ce format de date n&amp;#039;est pas valide. Le format de la date est {format}","dateInvalidSeparate":"Cette date n&amp;#039;est pas valide. Veuillez saisir une date valide {element}.","dateLimited":"Cette date est indisponible.","disallowDecimals":"Veuillez entrer un nombre entier.","dragAndDropFilesHere_infoMessage":"Glissez-déposez des fichiers ici","email":"Saisir une adresse courriel valide","fillMask":"La valeur du champ doit remplir le masque.","freeEmailError":"Les comptes e-mail gratuits ne sont pas autorisés","generalError":"Ce formulaire contient des erreurs. Veuillez les corriger avant de continuer.","generalPageError":"Cette page contient des erreurs. Veuillez les corriger avant de continuer.","gradingScoreError":"Le score total devrais être moins ou égal à","incompleteFields":"Des champs obligatoires ne sont pas remplis. Veuillez les compléter.","inputCarretErrorA":"Le nombre saisi ne peut pas être inférieur à la valeur minimum :","inputCarretErrorB":"Vous ne pouvez pas saisir une valeur supérieure à la valeur maximum :","justSoldOut":"Just Sold Out","lessThan":"Votre note doit être inférieure ou égale à","maxDigitsError":"Le nombre de chiffres maximum autorisé est de","maxFileSize_infoMessage":"Taille de fichier max.","maxSelectionsError":"The maximum number of selections allowed is ","minSelectionsError":"Le nombre minimum requis de sélections est de","multipleFileUploads_emptyError":"{file} est vide, veuillez sélectionner à nouveau les fichiers sans celui-ci.","multipleFileUploads_fileLimitError":"Seuls {fileLimit} téléchargements de fichiers sont autorisés.","multipleFileUploads_minSizeError":"{file} est trop petite, la taille de fichier minimale est {minSizeLimit}.","multipleFileUploads_onLeave":"Les fichiers sont en cours de téléchargement, si vous quittez maintenant le téléchargement sera annulé.","multipleFileUploads_sizeError":"{file} est trop volumineux, la taille maximale d&amp;#039;un fichier est de {sizeLimit}.","multipleFileUploads_typeError":"L&amp;#039;extension de {file} est invalide. Seules les extensions {extensions} sont autorisées.","multipleFileUploads_uploadFailed":"File upload failed, please remove it and upload the file again.","noSlotsAvailable":"Aucun emplacement disponible","notEnoughStock":"Not enough stock for the current selection","notEnoughStock_remainedItems":"Not enough stock for the current selection ({count} items left)","noUploadExtensions":"File has no extension file type (e.g. .txt, .png, .jpeg)","numeric":"Ce champ ne peut contenir que des valeurs numériques","pastDatesDisallowed":"La date ne doit pas se situer dans le passé.","pleaseWait":"Veuillez patienter.","required":"Ce champ est obligatoire.","requireEveryCell":"Toutes les cellules sont nécessaires.","requireEveryRow":"Chaque ligne est obligatoire.","requireOne":"Au moins un champ est requis","restrictedDomain":"This domain is not allowed","selectionSoldOut":"Selection Sold Out","slotUnavailable":"{heure} le {date} a été pris.Veuillez sélectionner un autre emplacement.","soldOut":"Sold Out","subProductItemsLeft":"({count} items left)","uploadExtensions":"Vous ne pouvez uploader que les fichiers suivants :","uploadFilesize":"La taille du fichier ne peut pas dépasser :","uploadFilesizemin":"la taille du fichier ne peut pas être inférieure à :","url":"Ce champ peut uniquement contenir une URL valide","validateEmail":"You need to validate this e-mail","wordLimitError":"Trop de mots. Le nombre max. de mots est de","wordMinLimitError":"Nombre de mots insuffisants. Le minimum est de"}); /*INIT-END*/ }); JotForm.prepareCalculationsOnTheFly([null,{"name":"stayIn","qid":"1","text":"Stay in touch","type":"control_head"},null,null,null,null,{"description":"","name":"email","qid":"6","subLabel":"","text":"Email ","type":"control_textbox"},{"name":"soumission","qid":"7","text":"Soumission","type":"control_button"},{"description":"","name":"name","qid":"8","text":"Name","type":"control_fullname"}]); setTimeout(function() {
        |JotForm.paymentExtrasOnTheFly([null,{"name":"stayIn","qid":"1","text":"Stay in touch","type":"control_head"},null,null,null,null,{"description":"","name":"email","qid":"6","subLabel":"","text":"Email ","type":"control_textbox"},{"name":"soumission","qid":"7","text":"Soumission","type":"control_button"},{"description":"","name":"name","qid":"8","text":"Name","type":"control_fullname"}]);}, 20); </script>
        |<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
        |<link id="custom-font" type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/opt/google-fonts/Lato/fontface.css" />
        |<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/defaultV2.css?"/>
        |<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/themes/CSS/548b1325700cc48d318b4567.css?themeRevisionID=60d3156fd82983013b471ba1"/>
        |<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_styles.css?3.3.27439" />
        |<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.27439" />
        |<style type="text/css" id="form-designer-style"> /* Injected CSS Code */
        |@import "https://fonts.googleapis.com/css?family=Lato:light,lightitalic,normal,italic,bold,bolditalic"; *,
        |*:after,
        |*:before { box-sizing: border-box;
        |
        |.form-all { font-family: "Lato", sans-serif;
        |}
        |.main .jotform-form { width: 100%; padding: 0 3%;
        |}
        |.form-all { display: flex; flex-direction: column; width: 100%; max-width: 889px;
        |}
        |.form-line-active { background-color: rgba(0, 52, 120, 0.08);
        |}
        |.form-all { font-size: 16px;
        |}
        |.form-label { font-weight: bold;
        |}
        |.form-checkbox-item label,
        |.form-radio-item label { font-weight: 500;
        |}
        |li.form-line { margin-top: 6px; margin-bottom: 6px;
        |}
        |.form-line { padding: 12px 10px;
        |}
        |.form-all .form-textbox,
        |.form-all .form-radio-other-input,
        |.form-all .form-checkbox-other-input,
        |.form-all .form-captcha input,
        |.form-all .form-spinner input,
        |.form-all .form-pagebreak-back,
        |.form-all .form-pagebreak-next,
        |.form-all .qq-upload-button,
        |.form-all .signature-wrapper,
        |.form-all .form-error-message { border-radius: 6px;
        |}
        |.form-all .form-sub-label { margin-left: 3px;
        |}
        |.form-all .form-textarea { border-radius: 6px; padding: 10px;
        |}
        |.form-all .form-submit-button,
        |.form-all .form-submit-reset,
        |.form-all .form-submit-print { border-radius: 6px;
        |}
        |.form-all .form-sub-label { margin-left: 3px;
        |}
        |.supernova .form-all,
        |.form-all { border-radius: 3px;
        |}
        |  .form-section:first-child { border-radius: 3px 3px 0 0;
        |  }
        |  .form-section:last-child { border-radius: 0 0 3px 3px;
        |  }
        |  .form-section { padding: 0px 38px;
        |  }
        |  .form-textbox,
        |  .form-textarea,
        |  li[data-type=control_fileupload] .qq-upload-button,
        |  .signature-wrapper { border-color: #bfbfbf;
        |  }
        |  .form-textarea:hover,
        |  .form-textbox:hover,
        |  li[data-type=control_fileupload] .qq-upload-button:hover,
        |  .signature-wrapper:hover { border-color: rgba(191, 191, 191, 0.5); box-shadow: 0 0 0 2px rgba(191, 191, 191, 0.25);
        |  }
        |  .form-textarea:focus,
        |  .form-textbox:focus,
        |  li[data-type=control_fileupload] .qq-upload-button:focus,
        |  .signature-wrapper:focus { border-color: #bfbfbf; box-shadow: 0 0 0 3px rgba(191, 191, 191, 0.25);
        |  }
        |  .form-textbox,
        |  .form-textarea,
        |  .form-radio-other-input,
        |  .form-checkbox-other-input,
        |  .form-captcha input,
        |  .form-spinner input { background-color: #ffffff;
        |  }
        |  li[data-type="control_textbox"] div[data-layout="half"],
        |  li[data-type="control_dropdown"] div[data-layout="half"],
        |  li[data-type="control_email"] div[data-layout="half"],
        |  li[data-type="control_number"] div[data-layout="half"],
        |  li[data-type="control_phone"] div[data-layout="half"],
        |  li[data-type="control_datetime"] div[data-layout="half"],
        |  li[data-type="control_signature"] div[data-layout="half"] { width: 100% !important; max-width: 355px;
        |  }
        |  .form-label { font-family: "Lato", sans-serif;
        |  }
        |  .form-line-column { width: calc(50% - 8px);
        |  }
        |  [data-type="control_dropdown"] .form-input,
        |  [data-type="control_birthdate"] .form-input,
        |  [data-type="control_time"] .form-input,
        |  [data-type="control_dropdown"] .form-input-wide,
        |  [data-type="control_birthdate"] .form-input-wide,
        |  [data-type="control_time"] .form-input-wide { width: 100% !important; max-width: 355px;
        |  }
        |  [data-type="control_dropdown"] .form-dropdown { width: 100% !important; max-width: 355px;
        |  }
        |  .form-checkbox-item label,
        |  .form-checkbox-item span,
        |  .form-radio-item label,
        |  .form-radio-item span { color: #004aab;
        |  }
        |  .form-radio-item,
        |  .form-checkbox-item { padding-bottom: 0px !important;
        |  }
        |  .form-radio-item:last-child,
        |  .form-checkbox-item:last-child { padding-bottom: 0;
        |  }
        |  .form-single-column .form-checkbox-item,
        |  .form-single-column .form-radio-item { width: 100%;
        |  }
        |  .form-checkbox-item .editor-container div,
        |  .form-radio-item .editor-container div { position: relative;
        |  }
        |  .form-checkbox-item .editor-container div:before,
        |  .form-radio-item .editor-container div:before { display: inline-block; vertical-align: middle; left: 0; width: 20px; height: 20px;
        |  }
        |  .form-all .form-submit-button { font-size: 16px; font-weight: bold; font-family: "Lato", sans-serif; border-color: #0098c3;
        |  }
        |  .form-all .form-submit-button:not(.form-sacl-button) { min-width: 180px;
        |  }
        |  .form-all .form-submit-button.js-new-sacl-button,
        |  .form-all .form-submit-print { min-width: 98px;
        |  }
        |  .form-all .form-submit-button:not(.form-sacl-button) { color: #ffffff; background: #0098c3; box-shadow: none; text-shadow: none;
        |  }
        |  .form-all .form-pagebreak-back,
        |  .form-all .form-pagebreak-next { font-family: "Lato", sans-serif; font-size: 16px; font-weight: normal;
        |  }
        |  .form-all .form-pagebreak-back,
        |  .form-all .form-pagebreak-next { min-width: 128px;
        |  }
        |  li[data-type="control_image"] div { text-align: left;
        |  }
        |  li[data-type="control_image"] img { border: none; border-width: 0px !important; border-style: solid !important; border-color: false !important;
        |  }
        |  .supernova { height: 100%; background-repeat: no-repeat; background-attachment: scroll; background-position: center top; background-repeat: repeat;
        |  }
        |  .supernova { background-image: none;
        |  }
        |  #stage { background-image: none;
        |  }
        |  /* | */
        |  .form-all { background-repeat: no-repeat; background-attachment: scroll; background-position: center top; background-repeat: repeat;
        |  }
        |  .form-header-group { background-repeat: no-repeat; background-attachment: scroll; background-position: center top;
        |  }
        |  .header-large h1.form-header { font-size: 2em;
        |  }
        |  .header-large h2.form-header { font-size: 1.5em;
        |  }
        |  .header-large h3.form-header { font-size: 1.17em;
        |  }
        |  .header-large h1 + .form-subHeader { font-size: 1em;
        |  }
        |  .header-large h2 + .form-subHeader { font-size: .875em;
        |  }
        |  .header-large h3 + .form-subHeader { font-size: .75em;
        |  }
        |  .header-default h1.form-header { font-size: 2em;
        |  }
        |  .header-default h2.form-header { font-size: 1.5em;
        |  }
        |  .header-default h3.form-header { font-size: 1.17em;
        |  }
        |  .header-default h1 + .form-subHeader { font-size: 1em;
        |  }
        |  .header-default h2 + .form-subHeader { font-size: .875em;
        |  }
        |  .header-default h3 + .form-subHeader { font-size: .75em;
        |  }
        |  .header-small h1.form-header { font-size: 2em;
        |  }
        |  .header-small h2.form-header { font-size: 1.5em;
        |  }
        |  .header-small h3.form-header { font-size: 1.17em;
        |  }
        |  .header-small h1 + .form-subHeader { font-size: 1em;
        |  }
        |  .header-small h2 + .form-subHeader { font-size: .875em;
        |  }
        |  .header-small h3 + .form-subHeader { font-size: .75em;
        |  }
        |  .form-header-group { text-align: center;
        |  }
        |  .form-header-group { font-family: "Lato", sans-serif;
        |  }
        |  div.form-header-group.header-large { margin: 0px -38px;
        |  }
        |  div.form-header-group.header-large { padding: 16px 52px;
        |  }
        |  .form-header-group .form-header,
        |  .form-header-group .form-subHeader { color: #003478;
        |  }
        |  .form-header-group { background-color: #ffffff;
        |  }
        |  .form-header-group { border-bottom: none;
        |  }
        |  .form-collapse-table { border: 1px solid rgba(0, 0, 0, 0.2); background-color: rgba(136, 148, 171, 0.12); box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 1px 0 rgba(0,0,0,0.2);
        |  }
        |  .form-collapse-table .form-collapse-mid { text-shadow: none;
        |  }
        |  .form-line-error { overflow: hidden; -webkit-transition-property: none; -moz-transition-property: none; -ms-transition-property: none; -o-transition-property: none; transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -ms-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; background-color: #fff4f4;
        |  }
        |  .form-line-error .form-error-message { background-color: #f23a3c; clear: both; float: none;
        |  }
        |  .form-line-error .form-error-message .form-error-arrow { border-bottom-color: #f23a3c;
        |  }
        |  .form-line-error input:not(#coupon-input),
        |  .form-line-error textarea,
        |  .form-line-error .form-validation-error { border: 1px solid #f23a3c; box-shadow: 0 0 3px #f23a3c;
        |  }
        |  .supernova { background-color: #ffffff; background-color: #ecedf3;
        |  }
        |  .supernova body { background-color: transparent;
        |  }
        |  .supernova .form-all,
        |  .form-all { background-color: #ffffff;
        |  }
        |  .form-textbox,
        |  .form-textarea,
        |  .form-radio-other-input,
        |  .form-checkbox-other-input,
        |  .form-captcha input,
        |  .form-spinner input { background-color: #ffffff;
        |  }
        |  .form-matrix-table tr { border-color: #e6e6e6;
        |  }
        |  .form-matrix-table tr:nth-child(2n) { background-color: #f2f2f2;
        |  }
        |  .form-all { color: #003478;
        |  }
        |  .form-label-top,
        |  .form-label-left,
        |  .form-label-right,
        |  .form-html { color: #003478;
        |  }
        |  .form-line-error { overflow: hidden; -webkit-transition-property: none; -moz-transition-property: none; -ms-transition-property: none; -o-transition-property: none; transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -ms-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -ms-transition-timing-function: ease; -o-transition-timing-function: ease; transition-timing-function: ease; background-color: #fff4f4;
        |  } /*__INSPECT_SEPERATOR__*/
        |  .form-subHeader { font-weight : bold;
        |  } .form-buttons-wrapper.form-buttons-auto.jsTest-button-wrapperField { } .form-sub-label { color : #bfbfbf;
        |  } .form-line.jf-required { } .form-section.page-section { } /* Injected CSS Code */
        |  </style> <form class="jotform-form" action="https://submit.jotformeu.com/submit/212431892842053/" method="post" name="form_212431892842053" id="212431892842053" accept-charset="utf-8" autocomplete="on"> <input type="hidden" name="formID" value="212431892842053" /> <input type="hidden" id="JWTContainer" value="" /> <input type="hidden" id="cardinalOrderNumber" value="" /> <div role="main" class="form-all"> <style> .form-all:before { background: none;} </style> <ul class="form-section page-section"> <li id="cid_1" class="form-input-wide" data-type="control_head"> <div class="form-header-group header-large"> <div class="header-text httac htvam"> <h1 id="header_1" class="form-header" data-component="header"> Stay in touch </h1> <div id="subHeader_1" class="form-subHeader"> Register if you want to be kept informed of the latest developments of IUCN Academy </div> </div> </div> </li> <li class="form-line jf-required" data-type="control_fullname" id="id_8"> <label class="form-label form-label-top form-label-auto" id="label_8" for="first_8"> Name <span class="form-required"> * </span> </label> <div id="cid_8" class="form-input-wide jf-required" data-layout="full"> <div data-wrapper-react="true"> <span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"> <input type="text" id="first_8" name="q8_name[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_8 sublabel_8_first" required="" /> <label class="form-sub-label" for="first_8" id="sublabel_8_first" style="min-height:13px" aria-hidden="false"> First Name* </label> </span> <span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"> <input type="text" id="last_8" name="q8_name[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_8 sublabel_8_last" required="" /> <label class="form-sub-label" for="last_8" id="sublabel_8_last" style="min-height:13px" aria-hidden="false"> Last Name* </label> </span> </div> </div> </li> <li class="form-line jf-required" data-type="control_textbox" id="id_6"> <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> Email <span class="form-required"> * </span> </label> <div id="cid_6" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_6" name="q6_email" data-type="input-textbox" class="form-textbox validate[required]" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_6" required="" /> </div> </li> <li class="form-line" data-type="control_button" id="id_7"> <div id="cid_7" class="form-input-wide" data-layout="full"> <div data-align="auto" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"> <button id="input_7" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content=""> Soumission </button> </div> </div> </li> <li style="display:none"> Should be Empty: <input type="text" name="website" value="" /> </li> </ul> </div> <script> JotForm.showJotFormPowered = "0"; </script> <script> JotForm.poweredByText = "Propulsé par JotForm"; </script> <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="212431892842053" /> <script type="text/javascript"> var all_spc = document.querySelectorAll("form[id='212431892842053'] .si" + "mple" + "_spc");
        |  for (var i = 0; i < all_spc.length; i++)
        |  { all_spc[i].value = "212431892842053-212431892842053";
        |  } </script>
        |  </form>
        |  <script type="text/javascript">JotForm.forwardToEu=true;</script><script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.27439"></script>
        |  <script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.27439"></script>
